body {
    background-color: rgb(238, 240, 240);
}

img {
    max-width: 75%;
    height: auto;
}

nav {
    border-bottom: 1px solid black;
}

nav a {
    color: black;
    cursor: pointer;
    text-decoration: none;
}

.navlinks ol {
    list-style-type: none;
    padding-left: 0;
}

.navlinks .active {
    background-color: rgb(73, 73, 73);
}

.navlinks .active a {
    color: white;
}

.navlink {
    display: inline-block;
    border: none;
    padding: 5px 15px;
    border-radius: 3px;
    background: blanchedalmond;
}

.greetings {
    border-style: dashed;
    border-color: cornflowerblue;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: 50px;
    padding: 10px 10px;
    text-align: center;
    font-style: italic, arial;
}

aside {
    width: 35%;
    padding-left: .5rem;
    margin-left: .5rem;
    flex-direction: column;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

article>p {
    font-style: normal, arial;
    flex-direction: column;
}

.myosins {
    float: right;
    height: auto;
    max-width: 100%;
}

a:hover {
    color: grey;
}

.column {
    float: left;
    padding: 10px;
    width: 25%;
    box-sizing: border-box;
}

.left {
    width: 65%;
    background-color: rgb(238, 240, 240);
}

.right {
    width: 35%;
    float: right;
    background-color: rgb(238, 240, 240);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}